// sass for jsxInExtJSClassic.view.home.HomeView
.homeview { 
	color: $color;
  background-color: white;
  padding: 15px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
}