package-lock.json
node_modules
stuff
working
.vscode
.DS_Store
.idea
npm-debug.log*
lerna-debug.log

**/public/ext-runtime-classic/
**/public/ext-runtime-modern/


# Save the .vscode configs
!packages/ext-react-froala-example/.vscode