.proxy-source {
    width: 120px;
    height: 120px;
    padding: 5px;
    position: relative;
    text-align: center;
    color: #FFF;
    border-radius: 5px;
    user-select: none;
    cursor: move;
}

.proxy-none {
    background-color: #FF5722;
    left: 10px;
    top: 10px;
}

.proxy-original {
    background-color: #43A047;
    left: 10px;
    top: 20px;
}

.proxy-placeholder {
    background-color: #4071CA;
    left: 10px;
    top: 30px;
}

.proxy-drag-custom {
    width: 70px;
    height: 70px;
    border: 3px dotted #039BE5;
    padding: 5px;
    text-align: center;
}