.group-source,
.group-target {
    width: 100px;
    height: 100px;
    padding: 5px;
    text-align: center;
    vertical-align: top;
    color: #FFF;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    user-select: none;
}

@media all and (max-width: 768px) {
    .group-source,
    .group-target {
        width: 28vw;
    }
}

.group-target-group1 {
    clear: both;
}
.group-source {
    cursor: move;
}

.group-target {
    color: #000;
    border: 2px dashed #37474F;
    margin-top: 10px;
}

.group-proxy {
    color: #000;
    padding: 5px;
    width: 80px;
    height: 80px;
    background-color: #FFEB3B;
    border: 5px dotted #FFEB3B;
    border-radius: 5px;
}

.group-proxy-valid {
    color: #FFF;
    background-color: #8BC34A;
    border-color: #8BC34A;
}

.group-proxy-invalid {
    color: #FFF;
    background-color: #C62828;
    border-color: #C62828;
}

.group-source-group1 {
    background-color: #FF5722;
}

.group-source-group2 {
    background-color: #9C27B0;
}

.group-source-both {
    background-color: #039BE5;
}
