code.hljs {
  overflow: visible;
}

code {
  font-family: Menlo, monospace;
  font-size: 13px;
}

.code-panel .x-innerhtml {
  background-color: #282c34
}

.instructions {
  padding: 20px;
  font-size: 15px;
}

.green {
  color: #81cb31 !important
}

.red {
  color: #dd6550 !important;
}