.home-panel {
	position:relative;
	padding: 0;
	margin: 0;
	border-radius: 0;
	background-color: #FFF;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.2),0 0 2px 0 rgba(0,0,0,.12);
	box-shadow: 0px 5px 10px -6px black;
}
.home-panel-title {
	border-bottom: 1px solid #E6E9ED;
	margin:0;
	font-size: 16px;
	left:0;
	width:100%;
	height:40px;
	background:linear-gradient(to bottom right, gray 0%, white 100%);
	color:black;
	padding-left:15px;
	padding-top:10px;
	padding-bottom:10px;
}
.placeholder { 
	width:100%;
	height:240px;
	background-size:cover;
	background-position:center center;
	background-image:url('/assets/resources/app/images/flag.jpeg'); 
}
