$base-color: #025B80;
$accent-color: #87BD3E;
$accent-light-color: lighten($accent-color, 10%);
$app-grey: #F5F5F5;
$material-icon-size: 24px;
// $treelist-item-icon-width: $material-icon-size;
// $treelist-item-icon-font-size: $material-icon-size;
// $treelist-item-icon-font-size-big: $material-icon-size;
// $treelist-background-color: $base-color;
$button-icon-font-size: $material-icon-size;
$button-icon-size: $material-icon-size;
// $tab-icon-size: $material-icon-size;
$background-color: #ffffff;
$textfield-input-font-size: 14px;