@include button-ui(
    $ui: 'app-filter-favorites',
    $padding: 0,
    $icon-color: lighten($base-color, 15%),
    $icon-font-size: 22px,
    $icon-size: 22px,
    $focused-icon-color: lighten($base-color, 15%)
);

@include button-ui(
    $ui: 'app-filter-favorites-pressed',
    $padding: 0,
    $icon-font-size: 22px,
    $icon-size: 22px,
    $icon-color: white,
    $focused-icon-color: white
);
 